*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.container-nav{
    height: 90px;
    background-color: #255EE9;
    /* test */
    display: flex;
    justify-content: space-around;

}

#logo{
    height: 90px;
    
    display: flex;
    align-items: center;
}

#nav-bar{
    height: 90px;
    width: 550px;
    /* test */
    display: flex;
    justify-content: center;
    

}

#nav-bar ul{
    list-style-type: none;
    /* test */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
    
}

#nav-bar li{
    height: 40px;
   
    display: flex;
    align-items: center;
}

#nav-bar li a{
    text-decoration: none;
    color: white;
}

#login{
    height: 90px;
    /* test */
    display: flex;
    align-items: center;
}

#login button{
    background-color: white;
    border-radius: 25px;
    border-color: #255EE9;
    padding: 10px 22px;
}

#login button a{
    text-decoration: none;
    color: black;
}

/* /nav */


/* main */

/* section1 */
.section1{
    height: 420px;

    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titol-s1{
    height: 50px;

    margin-bottom: 20px;
}

#titol-s1 h1{
    color: white;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#paragraph-s1{
    height: 80px;
    width: 650px;
}

#paragraph-s1 p{
    color: white;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 5px;
}

#buttons{
    height: 50px;
    width: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#buttons button{
    border-radius: 25px;
    border-color: #B1C6FC;
    padding: 7px 18px;
}

#buttons button:last-child{
    background-color: black;
    border-color: #41568B;
}

#buttons button:last-child a{
    color: white;
}

#buttons button a{
    text-decoration: none;
    color: black; 
}

/* /section1 */


/* section2 */
.section2{
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    /* test */
    display: flex;
    justify-content: center;
}

.img-s2{
    height: 600px;
    max-width: 70%;
    margin-top: 70px;
}

.img-s2 img{
    max-width: 600px;  
}

.aside-s2{
    height: 572px;
    width: 30%;
    
    
    /* test */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#titol-s2{ 
    max-height: 3000px;
}

#titol-s2 h2{
    font-size: 45px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#paragraph-s2 p{
    margin-top: 28px;
    
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* /section2 */

/* wave */
.container-img img{
    opacity: 0.04;
    display: block;
}
/* /wave */

/* section3 */
.container-section3{
    background-color: #F6F6F6;
}
.section3{
    height: 620px;
    width: 800px;
    
    margin: auto;
    /* test */
    display: flex;
    justify-content: center;
    align-items: center;
}



.aside-s3{
    height: 440px;
    width: 30%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titol-s3{
    margin-bottom: 35px;
}

#titol-s3 h2{
    font-size: 45px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

#paragraph-s3{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.img-s3{
    height: 600px;
    width: 70%;
    margin-top: 100px;
}

.img-s3 img{
    max-width: 600px;  
}
/* /section3 */

/* wave */

.container-img2 img{
    transform: rotate(180deg);
    opacity: 0.04;
    display: block;
}
/* /wave */

/* section4 */
.section4{
    height: 650px;
    background-color: white;
    /* test */
    display: flex;
    justify-content: center;
}

.img-s4{
    height: 650px;
    width: 730px;
}

.img-s4 img{
    margin-top: 160px;
    margin-left: 180px;
    max-width: 540px;
}

.aside-s4{
    height: 650px;
    width: 570px;
    margin-right: 70px;
    /* test */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titol-s4{
    height: 120px;
    width: 360px;

    margin-bottom: 30px;
}

#titol-s4 h2{
    font-size: 45px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#paragraph-s4{
    height: 150px;
    width: 400px;
}

#paragraph-s4 p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* /section4 */

/* wave */
.container-img3 img{
    opacity: 0.04;
    display: block;
}
/* /wave */

/* section5 */
.section5{
    height: 1150px;
    background-color: #F6F6F6;
}

.article-s5{
    height: 270px;
    /* test */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

#titol-s5{
    height: 70px;
    width: 850px;
    
    margin-bottom: 30px;
}

#titol-s5 h2{
    font-size: 45px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#paragraph-s5{
    height: 60px;
    width: 850px;
}

#paragraph-s5 p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container-img-s5{
    height: 570px;
    /* test */

    display: flex;
    align-items: center;
    justify-content: center;
}

#img-s5{
    height: 530px;
    width: 1000px;

    margin-left: 180px;
    margin-top: 60px;
}

#img-s5 img{
    max-width: 800px;
}

.section-below{
    /* test */
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-s5{
    height: 170px;
    width: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stelline-s5 img{
   
}

#on-button{
    height: 40px;
    width: 420px;

}

#on-button h4{
    font-size: 27px;
}

#button{
    height: 45px;
    width: 180px;
    /* test */

}

#button button{
    border-radius: 25px;
    border-color: #BEC8EA;
    background-color: #7289DA;
    padding: 7px 18px;
}

#button button a{
    text-decoration: none;
    color: white; 
}

#button span{
    color: white;
}
/* /section5 */
/* /main */

/* footer */
.footer{
    background-color: #23272A;
}
.container-footer{
    height: 300px;
    width: 1000px;
    margin: auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.inner-footer{
    display: flex;
    justify-content: space-between;
}

.inner-row1{
    max-width: 220px;
}

.inner-row1 p{
    font-size: 20px;
    
    color: #7189DA;

    margin-top: 20px;
    margin-bottom: 30px;
}

.inner-row1 img{
    max-width: 25px;
}

.language{
    margin-bottom: 10px;
}

.inner-row2{
    
    max-width: 650px; 

    display: flex;
    gap: 150px;
}

.inner-row2 ul{
    list-style-type: none;
}

.inner-row2 li{
    width: 40px;
    height: 20px;
}

.inner-row2 li a{
    text-decoration: none;
    color: white;
}

.inner-row2 li:first-child{
    color: #7189DA;
}

.inner-footer2{
    border-top: 1px solid white;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

#logo-footer{
    margin-top: 10px;
}

#logo-footer img{
    min-width: 18px;
}

#button-footer{
    margin-top: 10px;
}

#button-footer button{
    background-color: #7189DA;
    border-radius: 25px;
    border-color: #7189DA;
    padding: 4px 10px;
}

#button-footer button a{
    color: white;
    text-decoration: none;
}
/* /footer */